@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

*{
    font-family: 'Arvo', serif;
}

nav li {
    transition: 0.5s;
}

nav li:hover {
    background-color: rgba(0,0,0,0.5);
    border-radius: 10%;
}

.welcome {
    transition: 0.5s;
}

.welcome:hover {
    --bs-bg-opacity: 0.5;
    background-color: rgba(var(--bg-dark-rgb), var(--bs-bg-opacity));
}

.content-box {
    transition: 0.5s;
}

.content-box:hover {
    transform: scale(110%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.logo-container {
    height: 100px;
}

img {
    object-fit: cover;
}